# Auto detect text files and perform LF normalization
* text=auto



<|im_end|>
<|im_start|>system


<|im_end|>
<|im_start|>user
# Auto detect text files and perform LF normalization
* text=auto

# Auto detect text files and perform LF normalization
* text=auto

# Auto detect text files and perform LF normalization
* text=auto



# Auto detect text files and perform LF normalization
* text=auto

# Auto detect text files and perform LF normalization
* text=auto

# Auto detect text files and perform LF normalization
* text=auto



<|im_end|>
<|im_start|>system


<|im_end|>
<|im_start|>user
# Auto detect text files and perform LF
